<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/skelly</property>
        <property name="hibernate.connection.username">skelly</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">false</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="lab4.Shape"/>
        <mapping class="lab4.Rectangle"/>
        <mapping class="lab4.Triangle"/>
        <mapping class="lab4.Color"/>
    </session-factory>
</hibernate-configuration>
